@charset "UTF-8";
/*声明 WebFont*/
@font-face {
  font-family: 'fangzheng';
  src: url("../../src/fonts/fangzheng.TTF");
  src: url("../fonts/fangzheng.eot?#font-spider") format("embedded-opentype"), url("../fonts/fangzheng.ttf") format("truetype"), url("../fonts/fangzheng.woff") format("woff"), url("../fonts/fangzheng.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "ahellya";
  src: url("../fonts/ahellya.ttf");
  src: url("../fonts/ahellya.eot?#font-spider") format("embedded-opentype"), url("../fonts/ahellya.ttf") format("truetype"), url("../fonts/ahellya.woff") format("woff"), url("../fonts/ahellya.svg") format("svg"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

code {
  background-color: #5B6C9A;
  color: #eeeeee;
  padding: 0.1rem;
  font-size: 1.4rem;
  border-radius: 3px;
  margin: 0 0.1rem; }

strong {
  text-shadow: 0 0 1px black; }

html {
  font-size: 100%; }

body {
  font-family: "ahellya", "Times New Roman", "fangzheng", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-style: normal; }

header {
  position: relative; }
  header img {
    width: 100%;
    box-shadow: 0 0 20px black; }
  header ul {
    display: flex; }
  header li {
    flex-direction: column; }
  header > div {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
  header hgroup {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    header hgroup h1 {
      font-size: 2.5rem;
      line-height: 3.5rem; }
      header hgroup h1 a:hover {
        text-decoration: none; }
    header hgroup p {
      font-weight: 600; }
  header .header-menu {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; }
    header .header-menu li {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
    header .header-menu li > a:hover {
      text-decoration: none;
      text-shadow: 0 0 1px black; }
  @media (max-width: 960px) {
    header .header-menu {
      height: 30%; } }
  @media (max-width: 640px) {
    header .header-menu {
      height: 20%; }
      header .header-menu ul {
        width: 100%; }
      header .header-menu li {
        text-align: center;
        width: 20%;
        margin-left: 0.5rem;
        margin-right: 0.5rem; } }

.back-top {
  position: fixed;
  margin-left: 90%;
  margin-top: 90vh;
  font-weight: 600;
  color: #5B6C9A;
  font-size: 1.5rem; }

.back-top:hover {
  animation: beingRed 800ms;
  color: red;
  cursor: pointer; }

section {
  margin-top: 2rem;
  line-height: 1.5;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  padding: 1rem 20%;
  font-weight: 600; }
  section h2 {
    width: 2rem;
    margin-right: 0.5rem; }

@media (max-width: 1280px) {
  section {
    padding: 1rem 15%; } }
@media (max-width: 960px) {
  section {
    padding: 1rem 10%; } }
@media (max-width: 640px) {
  section {
    padding: 1rem 5%; } }
.sec-about {
  background-color: #C2D4E0;
  box-shadow: 0 0 10px #5B6C9A; }
  .sec-about:hover {
    animation: shadow 800ms;
    box-shadow: 0 0 10px black; }
  .sec-about div {
    padding-left: 1rem; }

.sec-tech {
  opacity: 0; }
  .sec-tech div {
    width: 100%;
    display: flex;
    flex-direction: row; }
  .sec-tech h3 {
    border-left: 3px solid #5B6C9A;
    padding-left: 1rem;
    line-height: 2rem;
    margin-bottom: 0.5rem; }
  .sec-tech ul {
    width: 100%;
    margin-left: 1rem; }
  .sec-tech li {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 10px #5B6C9A;
    padding: 0.8rem;
    background-color: #C2D4E0;
    display: inline-block;
    margin-bottom: 1rem; }
  .sec-tech li:hover {
    cursor: default;
    animation: shadow 800ms;
    box-shadow: 0 0 10px black; }
    .sec-tech li:hover h3 {
      animation: moveTo 800ms;
      border-left: 3px solid red;
      padding-left: 1.5rem;
      font-weight: 600; }
  @media (max-width: 1280px) {
    .sec-tech div {
      flex-direction: column;
      width: 90%; }
    .sec-tech ul {
      width: 100%; } }

.sec-proj {
  opacity: 0;
  background-color: #C2D4E0;
  box-shadow: 0 0 10px #5B6C9A; }
  .sec-proj:hover {
    animation: shadow 800ms;
    box-shadow: 0 0 10px black; }
  .sec-proj ul {
    margin-left: 1rem;
    width: 100%; }
  .sec-proj li {
    cursor: default; }
    .sec-proj li div {
      height: 0;
      border-bottom: 3px solid #5B6C9A;
      margin-bottom: 1rem;
      width: 30%; }
    .sec-proj li a {
      color: #5B6C9A; }
    .sec-proj li a:nth-child(2) {
      margin-right: 0.5rem; }
    .sec-proj li a:hover {
      animation: beingRed 800ms;
      color: red; }
    .sec-proj li:hover div {
      animation: longer 800ms;
      width: 50%;
      border-bottom: 3px solid red; }

.sec-blogs,
.sec-contact {
  opacity: 0; }
  .sec-blogs ul,
  .sec-contact ul {
    margin-left: 1rem; }
  .sec-blogs a,
  .sec-contact a {
    color: #5B6C9A; }
  .sec-blogs a:hover,
  .sec-contact a:hover {
    animation: beingRed 800ms;
    color: red; }
  .sec-blogs h3, .sec-blogs time,
  .sec-contact h3,
  .sec-contact time {
    display: inline-block; }
  .sec-blogs time,
  .sec-contact time {
    margin-left: 1rem; }

.sec-contact {
  background-color: #C2D4E0;
  box-shadow: 0 0 10px #5B6C9A; }
  .sec-contact:hover {
    animation: shadow 800ms;
    box-shadow: 0 0 10px black; }
  .sec-contact a {
    margin-left: 0.5rem; }

footer {
  background-image: url("../images/sky.jpg");
  font-family: "Georgia", "Times New Roman", "fangzheng", sans-serif;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 0 10px black; }
  footer img {
    width: 100%; }
  footer p {
    position: absolute;
    color: black; }
  footer a {
    color: #5B6C9A; }
  footer a:hover {
    animation: beingRed 800ms;
    color: red; }

.appearing {
  animation: fadeIn 1s; }

@keyframes fadeIn {
  from {
    margin-top: 3rem;
    opacity: 0; }
  to {
    margin-top: 2rem;
    opacity: 1; } }
.appeared {
  margin-top: 2rem;
  opacity: 1; }

@keyframes moveTo {
  from {
    border-left: 3px solid #5B6C9A;
    padding-left: 1rem; }
  to {
    border-left: 3px solid red;
    padding-left: 1.5rem;
    font-weight: 600; } }
@keyframes shadow {
  from {
    box-shadow: 0 0 10px #5B6C9A; }
  to {
    box-shadow: 0 0 10px black; } }
@keyframes longer {
  from {
    width: 30%;
    color: #5B6C9A; }
  to {
    width: 50%;
    border-bottom: 3px solid red; } }
@keyframes beingRed {
  from {
    color: #5B6C9A; }
  to {
    color: red; } }

/*# sourceMappingURL=style.css.map */
